* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #384b3a;
    justify-content: center;
    max-width: 100%;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    height: 93px;
    width: 141;
    margin-left: 34px;
    margin-right: 200px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    display: inline-block;
    /* Necesario para aplicar ancho y alto */
    width: 108px;
    height: 40px;
    line-height: 40px;
    /* Centra el texto verticalmente */
    text-align: center;
    /* Centra el texto horizontalmente */
    color: white;
    text-decoration: none;
}

.nav-links li a:hover {
    padding: 5px;
    background-color: #555;
}

.hero {
    margin-left: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hero-texto h1 {
    color: #FEF2E7;

    /* M3/Elevation Dark/5 */
    text-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.30);
    font-family: "DM Serif Display";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 93px;
    /* 145.313% */
    letter-spacing: 0.1px;
}

.hero-texto .resaltado {
    color: #E3C064;
    font-family: "DM Serif Display";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 93px;
    letter-spacing: 0.1px;
}

.hero-texto p {
    width: 383px;
    color: #FEF4E6;
    text-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.30);
    font-family: "Della Respira";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.1px;
}

.boton {
    margin-top: 20px;
    display: inline-block;
    background-color: #86633e;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.hero-imagen img {
    width: 580px;
    height: 580px;
    flex-shrink: 0;
    aspect-ratio: 1/1;     
}